<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doobs.invest.income">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- admob service -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4175572237555472~5024376641"/>

        <!-- start activities -->
        <activity android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PortfolioSavingActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/title_activity_portfolio_new"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".PortfolioUpdatingActivity"
            android:parentActivityName=".StockHoldingListActivity"
            android:label="@string/title_activity_portfolio_saving"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".StockHoldingListActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/title_activity_stock_holdings"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".StockHoldingSavingActivity"
            android:parentActivityName=".StockHoldingListActivity"
            android:label="@string/title_activity_stock_holding_new"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".StockHoldingUpdatingActivity"
            android:parentActivityName=".StockHoldingListActivity"
            android:label="@string/title_activity_stock_holding_update"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <!-- start receivers -->
        <receiver
            android:icon="@drawable/ic_golf_course_black_24dp"
            android:label="@string/widget_name"
            android:name=".widget.StockHoldingWidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/income_tracker_widget" />
        </receiver>

    </application>

</manifest>